<a href="https://colab.research.google.com/github/Javsk891/Using-ibm_db-SQL-Python/blob/main/Conection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ibm_db

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ibm_db
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 38.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: ibm_db
  Building wheel for ibm_db (pyproject.toml) ... done
  Created wheel for ibm_db: filename=ibm_db-3.1.4-cp38-cp38-linux_x86_64.whl size=41500461 sha256=21a38b6060cf1991e6d85e231708eb53b4a68fc1eea218c19f286d68844e4de4
  Stored in directory: /root/.cache/pip/wheels/29/8a/54/6483abefac5e30f2897d05de40bfd83a31b23f2c02182edb6c
Successfully built ibm_db
Installing collected packages: ibm_db
Successfully installed ibm_db-3.1.4

In [ ]:
import ibm_db

In [ ]:
dsn_hostname = "19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "rkr92661"        
dsn_pwd = "jYMcBfEia3pTGzaB"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"      
dsn_port = "30699"           
dsn_protocol = "TCPIP"      
dsn_security = "SSL"

In [ ]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

In [ ]:
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=30699;PROTOCOL=TCPIP;UID=rkr92661;PWD=jYMcBfEia3pTGzaB;SECURITY=SSL;

In [ ]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  rkr92661 on host:  19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [ ]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0800
DB_NAME:    BLUDB

In [ ]:
#Close the connection
ibm_db.close(conn)

True

In [ ]:
# Task 7: Retrieve data into Pandas 
import pandas
import ibm_db_dbi

In [ ]:
#Install & load sqlite3
#!pip install sqlite3  ##Uncomment the code to install sqlite3
import sqlite3

In [ ]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('CENSUS_DATA.db')

In [ ]:
# cursor object
cursor_obj = conn.cursor()

In [ ]:
cursor_obj.execute("DROP TABLE IF EXISTS CENSUS_DATA")

In [ ]:

import csv, sqlite3

con = sqlite3.connect("SQLiteMagic.db")
cur = con.cursor()

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///SQLiteMagic.db

'Connected: @SQLiteMagic.db'

In [ ]:
import pandas
chicago_schools_data = pandas.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
%sql PERSIST chicago_schools_data

 * sqlite:///SQLiteMagic.db

'Persisted chicago_schools_data'

In [ ]:
census_data = pandas.read_csv('https://data.cityofchicago.org/resource/kn9c-c2s2.csv')
%sql PERSIST census_data

 * sqlite:///SQLiteMagic.db

'Persisted census_data'

In [ ]:
crime_data = pandas.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
%sql PERSIST crime_data

 * sqlite:///SQLiteMagic.db

'Persisted crime_data'

#Problem 1
Find the toltal number of crimes recorded in the CRIME table

In [219]:
%sql SELECT COUNT(*) FROM crime_data

 * sqlite:///SQLiteMagic.db
Done.

[(1000,)]

In [218]:
#%sql SELECT * FROM CRIME_DATA

In [215]:
#%sql SELECT * FROM census_data

In [217]:
#%sql SELECT * FROM chicago_schools_data

#Problem 2
List community areas with per capita income less than 11000

In [ ]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME_ < 11000

 * sqlite:///SQLiteMagic.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

#Problem 3
List all case numbers for crimes involving minors?

In [ ]:
%sql SELECT Case_Number FROM crime_data WHERE description LIKE '%minor%'

 * sqlite:///SQLiteMagic.db
Done.

[('JG116575',),
 ('JG116545',),
 ('JG116520',),
 ('JG116384',),
 ('JG116177',),
 ('JG115669',),
 ('JG115654',),
 ('JG115444',)]

#Problem 4
List all Kidnapping crimes involving a child?

In [ ]:
%sql SELECT Case_Number FROM crime_data WHERE description LIKE '%child%'

 * sqlite:///SQLiteMagic.db
Done.

[('JG120561',), ('JG116014',), ('JG115458',), ('JG119465',), ('JG121264',)]

#Problem 5
What kind of crimes were recorded at schools?

In [214]:
%sql SELECT Primary_type FROM crime_data WHERE location_description LIKE '%school%'

 * sqlite:///SQLiteMagic.db
Done.

[('THEFT',), ('THEFT',), ('BATTERY',)]

#Problem 6
List the average safety score for all types of schools

In [213]:
%%sql 
SELECT 'elementary_or_high_school' , AVG(safety_score) FROM chicago_schools_data
GROUP BY 'elementary_or_high_school'

 * sqlite:///SQLiteMagic.db
Done.

[('elementary_or_high_school', 49.50487329434698)]

#Problem 7
List 5 community areas with highest % of households bellow poverty line

In [184]:
%%sql 
SELECT community_area_name, percent_households_below_poverty FROM census_data
ORDER BY percent_households_below_poverty DESC LIMIT 5

 * sqlite:///SQLiteMagic.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

#Problem 8
Which community area is most crime prone?

In [195]:
%%sql 
SELECT community_area, COUNT(*) AS frecuency FROM crime_data
GROUP BY community_area ORDER BY frecuency DESC LIMIT 1

 * sqlite:///SQLiteMagic.db
Done.

[(25, 63)]

#Problem 9
Use a sub-query to find the name of the community area highest hardship index

In [196]:
%%sql 
SELECT community_area_name FROM census_data WHERE hardship_index = (SELECT max(hardship_index) FROM census_data)

 * sqlite:///SQLiteMagic.db
Done.

[('Riverdale',)]

#Problem 10
Use a subquery to determine the community Area Name with most number of crime

In [211]:
%%sql 
SELECT community_area_name FROM census_data WHERE ca = (
SELECT community_area FROM crime_data
WHERE ca = 25 LIMIT 1)

 * sqlite:///SQLiteMagic.db
Done.

[]